*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (min-width:1200px){
    header{
        height: 13vh;
        width: 100%;
    }
    nav{
        height: 13vh;
        width: 100%;
        border: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        z-index: 1;
        background-color: white;
    }
    /* This styles the logo */
    .logo{
        height: 8vh;
        width: 13vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .logo>i,.logo>p{
        color: #e68429;
    }
    .logo>i{
        font-size: 20px;
    }
    .logo>p{
        font-weight: 700;
    }
    /* This styles the div that has the the index, aboutu, services, products and contact page links */ 
    .nav_link1{
        height: 8vh;
        width: 35vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav_link1>a{
        color: black;
        text-decoration: none;
        display: inline-block;
        height: 6vh;
        width: 6vw;
        align-content: center;
        text-align: center;
        font-weight: 500;
    }
    .nav_link1>a:hover{
        color: #e68429;
    }
    /* This styles the div that has the cart and profile links */
    .nav_link2{
        height: 6vh;
        width: 8vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav_link2>a{
        text-decoration: none;
        color: black;
    }
    .nav_link2>:hover{
        color: #e68429;
    }
    section{
        height: 480vh;
        width: 100%;
    }
    .our_services{
        height: 50vh;
        width: 100%;
        background-color: #faeacb;
        display: grid;
        place-content: center;
    }
    .services_heading{
        font-size: 50px;
        font-weight: 700;
        text-align: center;
    }
    .services_summary{
        width: 70vw;
        color: #374151;
        font-weight: 500;
        font-size: 19px;
        text-align: center;
    }
    .what_we_offer{
        height: 190vh;
        width: 100%;
        align-content: center;
    }
    .offer_heading{
        height: 20vh;
        width: 100%;
        display: grid;
        place-content: center;
    }
    .offer_heading>div{
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }
    .offer_heading>p{
        text-align: center;
        width: 50vw;
        font-size: 19px;
        font-weight: 500;
        color: #374151;
    }
    .my_price_offers{
        height: 140vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .my_price_offers>div{
        height: 64vh;
        width: 45vw;
        border: 1px solid #e5e7eb;
        border-radius: 6px 6px 6px 6px;
        display: grid;
        place-content: center;
    }
    .my_price_offers>div:hover{
        transition-duration: 150ms;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
    .offers_heading{
        width: 30vw;
        display: flex;
        align-items: center;
    }
    .offers_heading>i{
        font-size: 35px;
        color: #e68429;
    }
    .offers_heading>p{
        font-size: 20px;
        font-weight: 600;
        margin-left: 20px;
    }
    .offer_info{
        height: 43vh;
        width: 40vw;
        margin-top: 10px;
    }
    .offer_summary{
        color: #374151;
    }
    .offer_features{
        height: 23vh;
        width: 100%;
    }
    .offer_features>div{
        display: flex;
        align-items: center;
    }
    .offer_features>div>i{
        font-size: 24px;
        color: green;
    }
    .offer_features>div>p{
        color: #374151;
        margin-left: 10px;
    }
    .tag{
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .tag>p{
        font-size: 24px;
        color: #e68429;
        font-weight: 700;
    }
    .tag>button{
        height: 7vh;
        width: 12vw;
        border-radius: 6px 6px 6px 6px;
        color: white;
        display: inline-block;
        text-align: center;
        align-content: center;
        background-color: #e68429;
        text-decoration: none;
        border: none;
    }
    .tag>button:hover{
        transition-duration: 300ms;
        background-color: #ca5b15;
    }
    .design_process{
        height: 90vh;
        width: 100%;
        background-color: #e5e7eb;
        align-content: center;
    }
    .design_heading{
        height: 25vh;
        width: 100%;
        display: grid;
        place-content: center;
        gap: 15px;
    }
    .design_heading>div{
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }
    .design_heading>p{
        width: 50vw;
        text-align: center;
        color: #374151;
        font-weight: 500;
        font-size: 19px;
    }
    .design_process_container{
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .design_process_container>div{
        height: 40vh;
        width: 20vw;
        align-content: center;
    }
    .process_steps{
        text-align: center;
    }
    .process_steps>i{
        font-size: 40px;
        color: #ca5b15;
    }
    .process_heading{
        margin-top: 10px;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }
    .process_info{
        margin-top: 10px;
        font-weight: 500;
        text-align: center;
        color: #374151;
    }
    .why_choose_services{
        height: 100vh;
        width: 100%;
        align-content: center;
    }
    .why_choose_heading{
        height: 25vh;
        width: 100%;
        display: grid;
        place-content: center;
        gap: 10px;
    }
    .why_choose_heading>div{
        font-size: 35px;
        text-align: center;
        font-weight: 700;
    }
    .why_choose_heading>p{
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #374151;
        width: 47vw;
    }
    .choose_services{
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .choose_services>div{
        height: 44vh;
        width: 25vw;
        align-content: center;
    }
    .service_icon{
        text-align: center;
    }    
    .service_icon>i{
        color: #ca5b15;
        font-size: 30px;
    }
    .service_heading{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: 14px;
    }
    .service_info{
        margin-top: 14px;
        color: #374151;
        text-align: center;
    }
    .Ready_to_get_started{
        height: 50vh;
        width: 100%;
        background-color: #e68429;
        align-content: center;
    }
    .started_heading{
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 35px;
    }
    .started_title{
        font-size: 20px;
        font-weight: 600;
        color: #faeacb;
        text-align: center;
        margin-top: 15px;
    }
    .started_btn{
        height: 20vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 13px;
    }
    .consultation{
        cursor: pointer;
        height: 10vh;
        width: 18vw;
        border: 1px solid white;
        color: #e68429;
        border-radius: 8px 8px 8px 8px;
        background-color: white;
        font-size: 16px;
        font-weight: 600;
    }
    .consultation:hover{
        border: 1px solid #e5e7eb;
        background-color: #e5e7eb;
        transition-duration: 300ms;
    }
    .view_porfolio{
        cursor: pointer;
        height: 10vh;
        width: 18vw;
        border: 2px solid white;
        border-radius: 8px 8px 8px 8px;
        background-color: #e68429;
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin-left: 20px;
    }
    .view_porfolio:hover{
        background-color: white;
        color: #e68429;
        transition-duration: 300ms;
    }
    footer{
        height: 50vh;
        width: 100%;
        border: 1px solid;
        background-color: rgb(17 24 39);
        display: grid;
        place-content: center;
    }
    .footer_1{
        height: 30vh;
        width: 94vw;
        border: 1px solid #b0b0b0;
        border-top: none;
        border-left: none;
        border-right: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer_logo_div{
        height: 25vh;
        width: 22vw;
    }
    .footer_logo{
        display: flex;
        font-weight: 700;
        font-size: 18px;
        width: 13.5vw;
        justify-content: space-between;
    }
    .footer_logo>i{
        color: #e68429;
    }
    .footer_logo>p{
        color: white;
    }
    .footer_info{
        color: #b0b0b0;
        margin-top: 10px;
    }
    .footer_socials{
        width: 10vw;
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
    }
    .footer_socials>a{
        color: #b0b0b0;
        text-decoration: none;
        font-size: 18px;
    }
    .footer_socials>a:hover{
        color: #e68429;
    }
    .quick_links{
        height: 25vh;
        width: 10vw;
    }
    .quick_links>p{
        font-size: 18px;
        font-weight: 600;
        color: white;
    }
    .quick_links>div{
        height: 20vh;
        width: 6vw;
    }
    .quick_links>div>a{
        display: inline-block;
        margin-top: 6px;
        color: #b0b0b0;
        text-decoration: none;
    }
    .quick_links>div>a:hover{
        color: #e68429;
    }
    .footer_services{
        height: 25vh;
        width: 13vw;
    }
    .footer_services>p{
        font-size: 18px;
        font-weight: 600;
        color: white;
    }
    .footer_services>div{
        color: #b0b0b0;
    }
    .footer_services>div>p{
        margin-top: 8px;
    }
    .contact_info{
        height: 25vh;
        width: 23vw;
    }
    .contact_info>p{
        font-size: 18px;
        font-weight: 600;
        color: white;
    }
    .contact_info>div>p>i{
        color: #e68429;
    }
    .contact_info>div>p{
        width: 18vw;
        color: #b0b0b0;
        display: flex;
        justify-content: space-evenly;
        margin-top: 8px;
    }
    .footer_2{
        height: 10vh;
        width: 90vw;
        text-align: center;
        color: #b0b0b0;
        align-content: center;
    }
}